{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Common Value Auction
{% endblock %}
{% block scripts %}
    <script>
        var button = document.getElementsByClassName('otree-btn-next')[0]
        var chatInput = document.getElementsByClassName("otree-chat__input")[0]
        var chatSend = document.getElementsByClassName('otree-chat__btn-send')[0]
        var priceInput = document.getElementById("id_bid_amount")
        window.onload = function(e){
            button.addEventListener("click", function() {
                chatInput.value = "Bid $" + priceInput.value
                chatSend.click()
            
            })
            
        }
    </script>

{% endblock %}

{% block content %}
<div id='container'>
    <img id='bidImage' src="{% static image_path %}">
    <div id="imageDesc">
    {% if showGuide %}
        
        <p> <br>
            The value of this item is about {{ group.valueEstimate }} dollars. <br>

        
    {% endif %}

        
            
            Your bid can be between {{ Constants.min_allowable_bid }} and {{ group.max_allowable_bid }}, inclusive.
            <br> Keep in mind that you only get one bid.
            
        </p> 
    

        {% formfield player.bid_amount label="How much are you willing to pay?" %}

        
        </div>
        {% next_button %}
        
        

 
</div>
{% chat nickname=player.nickname %}



{% endblock %}
{% block styles %}
    <style>
        #bidImage{
            width: 30%;
	        height: 20%;
            border-radius: 3%;
            height: auto;
            border: 2px solid black;
            float: left;
            margin: 3%;
            
        }
        #imageDesc{
            margin-left: 2%;
            margin-top: -2%;

            
        }
        #container{
            margin-bottom: 100px;
          
            position: relative;
        }
        #bidArea{
            margin-bottom: -1%;
            position: absolute;
            bottom: 0px;
            

        }

    </style>

{% endblock %}
