{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Common Value Auction
{% endblock %}
{% block app_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#vBids',
            
            data: {
                button: undefined,
                chatInput: undefined,
                chatSend: undefined,
                priceInput: undefined,
                chatMessages: [],
                chatNames: [],
                yourTurn: false,
                playerNumber: undefined,
                bidMean: undefined,
                bidMedian: undefined
      

                
            },
       

            watch:{
                chatNames: function(){
                    function mean(numbers){
                        var total = 0, i;
                        for (i = 0; i < numbers.length; i += 1) {
                            total += numbers[i];
                        }
                        return total / numbers.length;
                    }
                    function median(numbers){
                        var median = 0, numsLen = numbers.length;
                        numbers.sort();
                    
                        if (numsLen % 2 === 0) {
                            // average of two middle numbers
                            median = (numbers[numsLen / 2 - 1] + numbers[numsLen / 2]) / 2;
                        } else { // is odd
                            // middle number only
                            median = numbers[(numsLen - 1) / 2];
                        }
    
                        return median;
                    }
                    //console.log(this.chatNames)
                 
                    //inefficient but who cares
                    bidAmounts = []
                    for(let i = 0; i < this.chatNames.length; i++){
                        bidAmounts.push(parseInt(this.bids[i].innerText))
                    }
                    this.bidMean = mean(bidAmounts)
                    this.bidMedian = median(bidAmounts)
                    meanDisplay = document.getElementById("mean")
                    medianDisplay = document.getElementById("median")
                    meanDisplay.innerText = "Mean: " + this.bidMean
                    medianDisplay.innerText = "Median: " + this.bidMedian

           
                    if(this.chatNames.length >= parseInt(this.playerNumber) - 1){
                        this.yourTurn = true
                    }
                    else{
                        queuePosition = document.getElementById('position')
                        queuePosition.innerText = parseInt(this.playerNumber) - this.chatNames.length - 1
                    }

              
       
               
                }

            },

            methods:{
             
                
                setVars: function(){
                    this.chatMessages = document.getElementsByClassName("otree-chat__nickname")
                    this.bids = document.getElementsByClassName("otree-chat__body")

                    
                    
                    this.button = document.getElementsByClassName('otree-btn-next')[0]
                    
                    this.chatInput = document.getElementsByClassName("otree-chat__input")[0]
                    this.chatSend = document.getElementsByClassName('otree-chat__btn-send')[0]
                    this.priceInput = document.getElementById("id_bid_amount")
                    this.playerNumber = parseInt(document.getElementById("playerName").value)
                    if(this.playerNumber == 1){
                        this.yourTurn = true

                    }
                    this.button.addEventListener("click", function() {
                        console.log("clicked")
                        vm.chatInput.value = vm.priceInput.value
                        
                        //vm.chatInput.value = "Bid $" + vm.priceInput.value
                        vm.chatSend.click()
                        
                    })
                    
                    
                   
                    

                },
                arrayOps: function(){
                    setInterval(
                        function(){
              
                            messages = []
                            for(let i = 0; i < vm.chatMessages.length; i++){
                                messages.push(vm.chatMessages[i].innerText.slice(7))
                            }
                            vm.chatNames = messages
                        
                            
                   

                        }, 1000)
                    
                }
                


            },
            mounted(){
                this.setVars()
                this.arrayOps()
           
            }

        });

    
    
    
    
    
    
    
    
    
    </script>

   

{% endblock %}

{% block content %}
    <input type="hidden" id="playerName" value='{{ player.id_in_group }}'>

    <div id='container'>
        <img id='bidImage' src="{% static image_path %}">
        <div id="imageDesc">
        {% if showGuide %}
            
            <p> <br>
                The value of this item is about {{ group.valueEstimate }} dollars. <br>

            
        {% endif %}

            
                
                Your bid can be between {{ Constants.min_allowable_bid }} and {{ group.max_allowable_bid }}, inclusive.
                <br> Keep in mind that you only get one bid.
                
            </p> 
        <div id="vBids">
            <div v-show="yourTurn">
                <h4>It's your turn!</h4>

                {% formfield player.bid_amount label="How much are you willing to pay?" %}
                {% next_button %}
                
                
            </div>
            <div v-show="!yourTurn">
                    <h4>Wait for your turn. You are # <span id="position"></span> in queue.</h4>
            </div>
            <h5>Previous Bids:</h5>
            <span id="median">Median: </span>, <span id="mean">Mean: </span>
            
            

            
            </div>
            {% chat nickname=player.nickname %}
            
            
            

    
    </div>

</div>





{% endblock %}
{% block styles %}
    <style>
        .otree-chat{
            float: left;
            display: none
        }
        #bidImage{
            width: 30%;
	        height: 20%;
            border-radius: 3%;
            height: auto;
            border: 2px solid black;
            float: left;
            margin: 3%;
            
        }
        #imageDesc{
            margin-left: 2%;
            margin-top: -2%;

            
        }
        #container{
            margin-bottom: 200px;
          
            position: relative;
        }
        #bidArea{
            margin-bottom: -1%;
            position: absolute;
            bottom: 0px;
            

        }/*
        .otree-chat__messages{
            background: white !important;
            border: none !important;


        }
        .otree-chat__input,.otree-chat__btn-send{
            
            display: none
        }*/

    </style>

{% endblock %}
