{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Bid
{% endblock %}

{% block content %}
<img src="{% static image_path %}" style="max-width: 50%; max-height: 50%">

    <p>
        The value of the item is estimated to be {{ group.valueEstimate }}.

    </p>

    <p>
        Please make your bid now. The amount can be between {{ Constants.min_allowable_bid }} and {{ Constants.max_allowable_bid }}, inclusive.
    </p>

    {% formfield player.bid_amount label="Bid amount" %}

    {% next_button %}

    {% include Constants.instructions_template %}

{% endblock %}
