{% load otree %}

<div class="card bg-light instructions">
<div class="card-body">
    <h3>
        Instructions 
    </h3>
    <br>
    <p>
        You will be shown an image of a jar filled with money.
        It's up to you to determine whether you want to pay for it.
        You can offer as much as you are willing to pay for the value of
        the money in the jar.
        You may be shown a somewhat accurate estimate of the money in the jar.

    </p>

    <p>
        The highest bidder will receive the actual value of the item as payoff
        minus their own bid amount.
        If the winner's bid amount is higher than the actual value of the item,
        the payoff will be zero.
        In the event of a tie between two or more players, the winner will be
        chosen at random. Other players will receive nothing.
    </p>
</div>
</div>
